body {

    background-color: lightblue;
    

}

.index {

  display: flex;
  justify-content: center;
  align-items: center;  
    
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgb(250, 250, 170);

    
}
.index img {

    display: center;
    width:40%;
    margin-bottom: 20px;

}
.barra {
    
    border-radius: 25px;
    background-color: white;

}

.barra img {

    width: 50px;

}

