body {

    background: linear-gradient(to right, orange 50%, red 50%);
    
}

.barra {

    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 10px 20px;

    background-color: white;
    border-radius: 25px;
    margin-top: 0;
    margin-bottom: 1%;

}

.barra .logo {
    justify-self: start;
}

.menu {

    grid-column: 2; 
    display: flex;
    list-style: none;

    gap: 30px;
    margin: 0; 
    padding: 0;

}

.menu a {

    text-decoration: none;
    color: darkblue;
    font-size: 30px;

}

.menu a:hover {

    text-decoration: none;
    color: blue;

}


.barra img {

    width: 20%;
    height: auto;

}


.index {

    display: flex;
    justify-content: center;
    align-items: center;  
    
    margin-left: 5%;
    margin-right: 5%;
    background-color:lightgreen;

}

.index img {

    display: center;
    width: 50%;
    margin-top: 50px;
    margin-bottom: 50px;

}













